#circle{
  position:absolute;
  z-index: 30;
  pointer-events: none;
  transform:translate(-50%,-50%);
  width:20px;
  height:20px;
  background: rgba(250, 128, 114, 0.62);
  border-radius:50%;
  transition:0.1s;
}